src/main/resources/AddressType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="build" type="xsd:int"/>
            <xsd:element name="apartment" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>