src/main/resources/Clients.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:include schemaLocation="ClientType.xsd"/>

    <xsd:element name="clients" type="ClientsList"/>

        <xsd:complexType name="ClientsList">
            <xsd:sequence>
                <xsd:element name="client" type="ClientType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>

</xsd:schema>