src/main/resources/Employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:include schemaLocation="EmployeeType.xsd"/>

    <xsd:element name="employees" type="EmployeeList"/>

    <xsd:complexType name="EmployeeList">
        <xsd:sequence>
            <xsd:element name="employee" type="EmployeeType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>