src/main/resources/FullName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="FullName">
        <xsd:sequence>
            <xsd:element name="surname" type="xsd:string"/>
            <xsd:element name="firstname" type="xsd:string"/>
            <xsd:element name="middlename" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>