src/main/resources/OrderType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:include schemaLocation="PeriodType.xsd"/>

    <xsd:complexType name="OrderType">
        <xsd:sequence>
            <xsd:element name="count" type="xsd:int"/>
            <xsd:element name="period" type="PeriodType"/>
            <xsd:element name="price" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>